@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Header"]</h1>
    <p>@Localizer["Message"]</p>
</div>
